.story-flex-grid {
  font-size: $base-font-size;
  line-height: 1.5;
  text-align: center;
  color: $color-base;

  .story-example-heading {
    margin-bottom: rem(16);
    text-align: left;
  }

  .grid-container {
      background: #fce2c5;
      outline: 1px dashed #ffbc78;
      padding-top: rem(24);
      padding-bottom: rem(24);
      position: relative;

      &:before {
          content: 'container';
          font-size: rem(12);
          line-height: 1;
          position: absolute;
          top: 0;
          left: 0;
          padding: rem(4);
      }
  }

  .grid-row {
      background: #faf3d1;
      outline: 1px dashed #e6c74c;
      padding-top: rem(24);
      padding-bottom: rem(24);
      position: relative;

      &:before {
          content: 'row';
          font-size: rem(12);
          line-height: 1;
          position: absolute;
          top: 0;
          left: 0;
          padding: rem(4);
      }

      & + .grid-row {
          margin-top: rem(16);
      }

      .grid-col {
          background: #eaf4dd;
          outline: 1px dashed #b8d293;
          padding-top: rem(24);
          padding-bottom: rem(24);
          position: relative;

          &:before {
              content: 'col';
              font-size: rem(12);
              line-height: 1;
              position: absolute;
              top: 0;
              left: 0;
              padding: rem(4);
          }
  
          > div {
              background: #e7f6f8;
              outline: 1px dashed #99deea;
          }
      }
  }
}

.story-flex-grid-col {
  font-size: $base-font-size;
  line-height: 1.5;
  text-align: center;
  color: $color-base;

  .grid-row {
      
      & + .grid-row {
          margin-top: rem(16);
      }

      > div {
  
          > div {
              background: #e7f6f8;
              outline: 1px dashed #99deea;
              padding-top: rem(16);
              padding-bottom: rem(16);
          }
      }
  }
}
