@import "./fonts";

$font-sans:           'Source Sans Pro';
$font-serif:          'Merriweather', $georgia;

html {
    font-family: $font-sans;
}

.sbdocs-content .sbdocs-img {
    margin: 1.5rem 0;
}

.story__container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-sans;
    padding: 100px;
    @media (max-width: $tablet-screen) {
        padding: 30px;
    }
}

#docs-root {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    ul li {
        font-family: $font-sans;
    }
    h2 a {
        // color: $color-black;
        font-size: 24px;
        margin: none;
        padding: none;
        font-family: $font-sans;
    }
}

@import "./pagination";
@import "./tooltip";
@import "./picker";
@import "./quarterPicker";
@import "./tabs";
@import "./section-title";
@import "./pageHeader";

.story-flex-grid {
    font-size: $base-font-size;
    line-height: 1.5;
    text-align: center;
    color: $color-base;

    .grid-container {
        background: #fce2c5;
        outline: 1px dashed #ffbc78;
        padding-top: rem(24);
        padding-bottom: rem(24);
        position: relative;

        &:before {
            content: 'container';
            font-size: rem(12);
            line-height: 1;
            position: absolute;
            top: 0;
            left: 0;
            padding: rem(4);
        }
    }

    .grid-row {
        background: #faf3d1;
        outline: 1px dashed #e6c74c;
        padding-top: rem(24);
        padding-bottom: rem(24);
        position: relative;

        &:before {
            content: 'row';
            font-size: rem(12);
            line-height: 1;
            position: absolute;
            top: 0;
            left: 0;
            padding: rem(4);
        }

        & + .grid-row {
            margin-top: rem(16);
        }

        .grid-col {
            background: #eaf4dd;
            outline: 1px dashed #b8d293;
            padding-top: rem(24);
            padding-bottom: rem(24);
            position: relative;

            &:before {
                content: 'col';
                font-size: rem(12);
                line-height: 1;
                position: absolute;
                top: 0;
                left: 0;
                padding: rem(4);
            }
    
            > div {
                background: #e7f6f8;
                outline: 1px dashed #99deea;
            }
        }
    }
}

.story-flex-grid-col {
    font-size: $base-font-size;
    line-height: 1.5;
    text-align: center;
    color: $color-base;

    .grid-row {
        
        & + .grid-row {
            margin-top: rem(16);
        }

        > div {
    
            > div {
                background: #e7f6f8;
                outline: 1px dashed #99deea;
                padding-top: rem(16);
                padding-bottom: rem(16);
            }
        }
    }
}

.story-example-heading {
    margin-top: rem(32);
    margin-bottom: rem(16);
    text-align: left;
}