@import "../../global/index";

.usa-dt-pagination {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .usa-dt-pagination__totals {
        flex: 1 1 auto;
        text-align: left;
        font-size: $base-font-size;
    }
    .pager {
        display: flex;
        flex:0 0 auto;
        padding-left: 0;
        list-style-type: none;
        margin: 0;
        .pager__item {
            flex:0 0 auto;
            .pager__button {
                padding: rem(7) rem(10);
                background-color: $color-white;
                color: $color-gray;
                border: solid rem(1) $color-gray-light;
                font-style: normal;
                font-size: rem(12);
                margin: rem(5) rem(5) rem(5) 0;
                line-height: normal;
                &:hover {
                    background-color: $color-primary-alt-lightest;
                }
                &.pager__button_disabled {
                    border-color: $color-gray-lighter;
                    color: $color-gray-light;
                    &:hover {
                        background-color: $color-white;
                        cursor: auto;
                    }
                }
                &.pager__button_active {
                    background-color: $color-primary-alt-dark;
                    color: $color-white;
                    border-color: $color-primary-alt-dark;
                }
            }
        }
        .pager__ellipsis {
            font-weight: bold;
            margin-top: 14px;
            margin-right: 5px;
        }
    }
    @import './limitSelector';
    @import './goTo';
}
