$color-tooltip-border: $color-gray-light;

.tooltip-pointer {
    display: none;
    @media (min-width: $tablet-screen) {
        display: none;
    }
    width: rem(16);
    height: rem(16);
    position: absolute;
    top: rem(12);
    left: rem(-16);
    &:after {
        content: "";
        position: absolute;
        width: rem(16);
        height: rem(16);
        background: #f0f0f0;
        border-bottom: rem(1) solid $color-tooltip-border;
        border-left: rem(1) solid $color-tooltip-border;
        transform: rotate(45deg);
        pointer-events: none;
    }
    &.right {
        left: auto;
        right: rem(8.5);
        &:after {
            transform: rotate(225deg);
        }
    }
    &.bottom {
        top: rem(-16); // half the height of the arrow
        left: calc(50% - 8px); // add 8 for half the pointer
        transform: rotate(90deg);
    }
    &.top,
    &.top-left,
    &.top-right {
        &:after {
            background: #f0f0f0;
        }
    }
    &.top {
        left: calc(50% - 8px);
        top: rem(-9);
        &:after {
            transform: rotate(135deg);
            background: #f0f0f0;
        }
    }
    &.top-left {
        left: rem(-9);
        top: rem(9);
        z-index: -1;
    }
    &.top-right {
        right: rem(7);
        left: auto;
        top: rem(9);
        &:after {
            transform: rotate(225deg);
        }
    }
    &.bottom-left,
    &.bottom-right {
        &:after {
            background: $color-white;
        }
    }
    &.bottom-left {
        left: rem(-9);
        top: calc(100% - 32px);
        z-index: -1;
        &:after {
            transform: rotate(45deg);
        }
    }
    &.bottom-right {
        right: rem(8);
        left: auto;
        top: calc(100% - 32px);
        z-index: -1;
        &:after {
            transform: rotate(225deg);
        }
    }
}