@mixin for-phone-only {
    @media (max-width: $tablet-screen) { @content; }
}
@mixin for-tablet-portrait-up {
    @media (min-width: $tablet-screen) { @content; }
}
@mixin for-tablet-landscape-up {
    @media (min-width: $medium-screen) { @content; }
}
@mixin for-desktop-up {
    @media (min-width: $large-screen) { @content; }
}
@mixin for-big-desktop-up {
    @media (min-width: $x-large-screen) { @content; }
}

@mixin unstyled-list() {
    margin: 0;
    list-style-type: none;
    padding-left: 0;

    > li {
        margin-bottom: 0;
        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
    }
}

@mixin button-unstyled {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    font-weight: $font-normal;
    margin: 0;
    padding: 0;
    text-align: left;
    &:hover {
        background-color: transparent;
    }
}