// Colors:
$button-color:               orange !default;
$color-white:                #ffffff !default;
$color-gray:                 #5b616b !default; // lighten($color-gray-dark, 20%)
$color-gray-light:           #aeb0b5 !default; // lighten($color-gray-dark, 60%)
$color-primary-alt-lightest: #e1f3f8 !default; // lighten($color-primary-alt, 90%)
$color-gray-lighter:         #d6d7d9 !default; // lighten($color-gray-dark, 80%)
$color-primary-alt-dark:     #00a6d2 !default;
$color-gray-lightest:        #f1f1f1; // lighten($color-gray-dark, 91%)
$color-gray-border:          #D8D8D8;

// Fonts:
$font-normal:         400;
$small-font-size:     rem(14);
$font-bold:           700;

// Spacing:
$global-pad-mrg: rem(15);

// Mobile First Breakpoints
$small-screen:      320px;
$tablet-screen:     768px;
$medium-screen:     992px;
$large-screen:      1200px;
$x-large-screen:    1640px;

// Misc:
$color-shadow:               rgba(#000, 0.3);
$box-shadow:                 0 0 2px $color-shadow;
