// Colors:
$button-color:               orange !default;
$color-white:                #ffffff !default;
$color-gray:                 #5b616b !default; // lighten($color-gray-dark, 20%)
$color-gray-light:           #aeb0b5 !default; // lighten($color-gray-dark, 60%)
$color-primary-alt-lightest: #e1f3f8 !default; // lighten($color-primary-alt, 90%)
$color-gray-lighter:         #d6d7d9 !default; // lighten($color-gray-dark, 80%)
$color-primary-alt-dark:     #00a6d2 !default;
