// Colors:
$color-primary:              #0071bc;
$color-primary-darker:       #205493;
$color-primary-darkest:      #112e51;

$color-primary-alt:          #02bfe7;
$color-primary-alt-dark:     #00a6d2;
$color-primary-alt-darkest:  #046b99;
$color-primary-alt-light:    #9bdaf1; // lighten($color-primary-alt, 60%)
$color-primary-alt-lightest: #e1f3f8; // lighten($color-primary-alt, 90%)
$blue-warm-70v:              #1A4480;

$color-secondary:            #e31c3d;
$color-secondary-dark:       #cd2026;
$color-secondary-darkest:    #981b1e;
$color-secondary-light:      #e59393; // lighten($color-secondary, 60%)
$color-secondary-lightest:   #f9dede; // lighten($color-secondary, 90%)

$color-white:                #fff;
$color-black:                #000;
$color-base:                 #555;
$color-link:                 #0071bc;

$color-gray-dark:            #323a45;
$color-gray:                 #5b616b; // lighten($color-gray-dark, 20%)
$color-gray-medium:          #757575; // lightest gray that passes color contrast
$color-gray-light:           #aeb0b5; // lighten($color-gray-dark, 60%)
$color-gray-lighter:         #d6d7d9; // lighten($color-gray-dark, 80%)
$color-gray-lightest:        #f1f1f1; // lighten($color-gray-dark, 91%)
$color-gray-border:          #D8D8D8;
$gray-cool-10:               #dfe1e2;

$color-gold:                 #fdb81e;
$color-gold-light:           #f9c642; //  lighten($color-gold, 20%)
$color-gold-lighter:         #fad980; //  lighten($color-gold, 60%)
$color-gold-lightest:        #fff1d2; //  lighten($color-gold, 83%)

$color-base:                 #555;

// Font Sizes
$em-base:             10px;
$small-font-size:     rem(14);
$base-font-size:      rem(16);

// Font Weights:
$font-light:		  200;
$font-normal:         400;
$font-semibold:  	  600;
$font-bold:           700;

// Font Families:
$helvetica:           "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$georgia:             "Georgia", "Cambria", "Times New Roman", "Times", serif;
// $font-sans:           'Source Sans Pro', $helvetica;
$font-sans:           'Source Sans Pro';
$font-serif:          'Merriweather', $georgia;

// Spacing:
$global-pad-mrg: rem(15);

// Mobile First Breakpoints
$small-screen:      320px;
$tablet-screen:     768px;
$medium-screen:     992px;
$large-screen:      1200px;
$x-large-screen:    1640px;

// Misc:
$color-shadow:               rgba(#000, 0.3);
$box-shadow:                 0 0 2px $color-shadow;
