@import "../global/index";

.feature-carousel {
  .feature-carousel__instructions {
    position: absolute;
    left: -999em;
  }

  .feature-carousel-content {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      button.feature-carousel-content__arrow {
          flex: 0 0 auto;
          @include button-unstyled;

          opacity: 1;
          transition: opacity 150ms;

          display: none;
          @include for-phone-only {
              display: block;
          }

          svg {
              fill: $color-gray;
              width: rem(50);
          }

          &.feature-carousel-content__arrow_hidden {
              opacity: 0;
              pointer-events: none;
          }
      }

      .feature-carousel-image {
          flex: 1 1 auto;
          overflow-x: hidden;
      }

      ul.feature-carousel-image__list {
          @include unstyled-list;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          transition: transform 300ms;

          &.feature-carousel-image__list_dragging {
              transition: none;
          }

          li.feature-carousel-image__list-item {
              flex: 0 0 auto;
              width: 100%;

              // within the box, we need to center the image
              // img.feature-carousel-image__image {
              //     display: block;
              //     background-color: $color-white;
              //     padding: rem(10);
              //     border: rem(10) solid $color-gray-lighter;
              //     margin-left: auto;
              //     margin-right: auto;
              // }

              // within the box, we need to center the image
              .feature-carousel-image__image {
                  display: block;
                  text-align: center;
                  background-color: $color-white;
                  padding: rem(10);
                  // border: rem(10) solid $color-gray-lighter;
                  margin-left: auto;
                  margin-right: auto;
              }
          }
      }
  }

  .feature-carousel-pager {
      .feature-carousel-pager__list {
          @include unstyled-list;
          margin-top: rem(25);
          
          display: flex;
          justify-content: center;
          align-items: center;

          .feature-carousel-pager__list-item {
              flex: 0 0 auto;
              &:not(:first-child) {
                  margin-left: rem(7);
              }
          }

          button.feature-carousel-pager__dot-button {
            flex: 0 0 auto;
            &:not(:first-child) {
                margin-left: rem(7);
            }
              @include button-unstyled;
              width: rem(10);
              height: rem(10);

              opacity: 0.4;
              transition: opacity 150ms;

              .feature-carousel-pager__dot-decorator {
                  width: rem(10);
                  height: rem(10);
                  border-radius: rem(5);
                  background-color: $color-gray-medium;
                  pointer-events: none;
              }

              &:hover, &:active, &.feature-carousel-pager__dot-button_active {
                  opacity: 1;
              }
          }
      }
  }
}
