@import "../global/index";

.usda-download-btn {
    .tooltip__hover-wrapper {
        flex-direction: column;
    }
    &.disabled {
        .usda-button,
        span {
            opacity: 0.5;
        }
    }
    .usda-button {
        border: none;
        padding: 0;
        svg {
            width: rem(18);
            height: rem(23);
            color: $gray-cool-10;
            :hover{
                color: #EDEFF0;
        
                }
            :active {
                color: #FBFCFD;
        
                }
        }
    }
}