@import "../global/index";

.usda-download-btn {
    padding-bottom: rem(2);
    display: flex;
    flex-direction: column;
    .tooltip__hover-wrapper {
        flex-direction: column;
    }
    &.disabled {
        .usda-button {
            cursor: default;
        }
        .usda-button,
        span {
            opacity: 0.5;
        }
    }
    .usda-button {
        margin: 0;
    }
}
