@import "../global/index";

.usda-download-btn {
    .usda-button {
        background-color: $color-base;
        border: none;
        padding: 0;
        svg {
            width: rem(18);
            height: rem(23);
            color: $color-gray-lighter;
        }
    }
}