@import "../global/index";

.usda-fy-picker__container {
    @include for-tablet-portrait-down {
      padding: rem(8) rem(10);
    }
    .usa-dt-picker.usda-fy-picker {
      padding: rem(1.5) rem(10);
      background: $gray-cool-5;
      border: solid 2px rgba(26, 68, 128, 0.25);
      border-radius: rem(4);
      @include for-tablet-landscape-up {
        background: $blue-warm-70v;
        border: solid 2px rgba(223, 225, 226, 0.25);
      }
      .usa-dt-picker__icon {
        margin-right: rem(8);
         svg {
          width: rem(20);
          height: rem(20);
        }
      }
      .fy-picker__list {
        overflow-y: scroll;
      }

      .usa-dt-picker__button-text {
        color: $blue-warm-70v;
        background: $color-gray-lightest;
        font-weight: $font-semibold;
        font-size: rem(16);
        line-height: rem(17);
        @include for-tablet-landscape-up {
          font-size: rem(18);
          line-height: rem(20);
          height: rem(23);
          color: $gray-cool-10;
          background: $blue-warm-70v;
        }
      }
      .usa-dt-picker__icon svg,
      .usa-dt-picker__button-icon svg {
        color: $blue-warm-70v;
        @include for-tablet-landscape-up {
          color: $gray-cool-10;
        }
      }
      .usa-dt-picker__button {
        align-items: center;
        @include for-tablet-landscape-up {
          align-items: flex-end;
        }
      }
      .usa-dt-picker__button-text,
      .usa-dt-picker__button-icon {
        height: auto;
      }
    }
    span:not(.usa-dt-picker__button-text):not(.usa-dt-picker__button-icon) {
      display: none;
      @include for-tablet-landscape-up {
        display: flex;
        color: $gray-cool-10;
      }
    }
  }
