@import "../global/index";

.usda-message {
    text-align: center;
    background-color: $color-gray-lightest;
    padding: 10rem 0;
    color: $color-base;
    width: 100%;
    .usda-message__icon {
        font-size: 3.6rem;
    }
    .usda-message__title {
        font-size: 2rem;
        line-height: 4.5rem;
        font-weight: $font-semibold;
    }
    .usda-message__description {
        font-size: $base-font-size;
    }
    &.usda-message_loading {
        @include for-phone-only {
            margin-top: rem(24);
        }
        .usda-message__icon {
            color: $color-primary;
        }
    }
    &.usda-message_error {
        .usda-message__icon {
            color: $color-secondary-dark;
        }
    }
}

.usda-loading-animation__container {
    flex: 1 1 auto;
    max-width: rem(200);
    margin-left: auto;
    margin-right: auto;

    @include for-tablet-portrait-up {
        flex: 0 0 auto;
        max-width: rem(600);
    }
    .usda-loading-animation {
        width: rem(50);
        height: rem(50);
        margin-left: auto;
        margin-right: auto;
        svg.usda-loading-bars {
            @keyframes loading-bar-animation {
                0% {
                    transform: translate(0px, 40px) scaleY(0.2);
                }
                50% {
                    transform: translate(0px, 10px) scaleY(0.8);
                }
                100% {
                    transform: translate(0px, 40px) scaleY(0.2);
                }
            }

            @keyframes loading-bars-loading {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }

            animation: loading-bars-loading 0.2s ease-in forwards;

            rect {
                fill: $color-gray-light;
                animation: loading-bar-animation 1s infinite ease-in-out both;
                &.bar-two {
                    animation: loading-bar-animation 1s infinite ease-in -0.6s;
                }
                &.bar-three{
                    animation: loading-bar-animation 1s infinite ease-in -0.9s;
                }
                &.bar-four {
                    animation: loading-bar-animation 1s infinite ease-in -0.3s;
                }
            }
        }
    }
    .loading-message {
        font-size: rem(36);
        line-height: rem(45);
        color: $color-gray-light;
        text-align: center;
    }
}
