@import "../global/index";

$z-header: 100;

.usda-page-header {
  flex-wrap: wrap;
  margin: 0;
  display: flex;
  width: 100%;

  &.usda-page-header--sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-header;
  }

  .usda-page-header__container {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 160rem;
    margin: auto;

    @include for-desktop-up {
      height: rem(60);
    }

    @include for-big-desktop-up {
      margin: auto;
    }

    @include for-tablet-landscape-up {
      flex-wrap: nowrap;
    }
    hr {
      background-color: $gray-cool-10;
      opacity: .25;
      height: rem(1);
      margin: 0 rem(20);
      @media(min-width: $medium-screen) {
          display: none;
      }
    }
  }

  .usda-page-header__header {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    flex-wrap: wrap;
    align-self: center;
    padding: rem(10) 0;
    width: auto;

    @include for-phone-only {
      padding: rem(10);
    }
  }

  .usda-page-header__overline {
    font-size: rem(14);
    flex-wrap: wrap;
    text-transform: uppercase;
    color: $gray-10;
    font-weight: $font-normal;
  }

  .usda-page-header__title {
    display: flex;
    align-items: flex-end;

    h1 {
      margin: 0;
      font-size: rem(20);
      font-weight: $font-semibold;
      line-height: rem(20);
      color: $gray-2;
    }
  }

  .tooltip-wrapper {
    display: none;

    @include for-tablet-portrait-up {
      font-size: rem(20);
      display: block;
      align-self: flex-end;

      @include for-phone-only {
        align-self: center;
      }

      .tooltip__hover-wrapper {
        display: flex;
      }
    }
  }

  .usda-page-header__mobile-top {
    flex: 1 0 auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: $gray-cool-5;

    @include for-phone-only {
      flex: 0 0 auto;
      width: 100%;
    }

    .usda-share-icon {
      @include for-tablet-landscape-up {
        display: none;
      }

      @import "../shared/dropDownList";
    }
  }

  hr {
    width: 100%;
    height: rem(2);
    background: #494440;
    border: none;
  }
}

@import "./pageToolbar";
