.usda-page-header__toolbar {
  display: flex;
  align-items: flex-start;
  margin: 0;
  width: 100%;
  border-bottom: rem(1) solid #D6D7D9;
  background-color: $blue-warm-70v;
  @include for-tablet-landscape-up {
    align-items: flex-end;
    padding: rem(6.5); 
    width: auto;
    border-bottom: none;
  }
  @include for-tablet-portrait-down {
    background-color: $gray-cool-5;
  }

  span {
    color: $color-gray-lightest;
    font-size: rem(14);
    display: flex;
    justify-content: center;
  }

  @import "./fiscalYearPicker";

  .usda-share-icon,
  .usda-fy-picker__container {
    @import "../shared/dropDownList";
  }

  @import "./shareIcon";
  @import "./downloadIconButton";
  
  .usa-dt-picker {
    display: flex;
    justify-content: center;
    z-index: 1;
    .usa-dt-picker__dropdown-container .usa-dt-picker__button {
      padding: 0;
      margin: 0;
    }
  }

  .usda-download-btn,
  .usda-download-btn.tooltip-wrapper,
  .usda-share-icon {
    display: none;
    margin-top: auto;
    @include for-tablet-landscape-up {
      display: flex;
      flex-direction: column;
    }
    .usa-dt-picker__button,
    .usda-button {
      padding: 0;
      margin: 0;
    }
  }
}