@import "../global/index";

.usa-dt-picker {
    display: flex;
    align-items: center;
    position: relative;

    .hide {
        visibility: hidden;
    }

    .usa-dt-picker__icon {
        margin-right: rem(5);

        svg {
            width: rem(30);
            height: rem(30);
            fill: $color-white;
        }
    }

    .usa-dt-picker__dropdown-container {
        display: flex;
        flex: 0 1 auto;
        align-self: flex-end;
        width: 100%;
        flex-wrap: wrap;
        .usa-dt-picker__button {
            @include button-unstyled;
            display: flex;
            justify-content: center;
            outline: none;
            align-items: flex-end;
            border-bottom: 1px solid $color-white;
            padding: rem(10) rem(15);
            width: 100%;
            .usa-dt-picker__button-text {
                flex: 1 1 auto;
                margin-right: rem(15);
                color: $color-white;
                font-weight: $font-semibold;
                font-size: rem(20);
                line-height: rem(25);
                background: white;
                color: black;
            }
        
            .usa-dt-picker__button-icon {
                button {
                    @include button-unstyled;
                }
                flex: 0 0 rem(20);
                svg {
                    width: rem(20);
                    height: rem(20);
                    fill: $color-primary-alt;
                }
            }
        }
        .usa-dt-picker__list {
            @include unstyled-list;
            position: absolute;
            // left: 0;
            // right: 0;
            border: 1px solid #464B53;
            background-color: #272F38;
            display: block;
    
            .usa-dt-picker__list-item {
                border-top: 1px solid #464B53;
    
                &:first-child {
                    border-top: none;
                }
            }
    
            .usa-dt-picker__item {
                @include button-unstyled;
                color: $color-white;
                font-size: rem(18);
                text-align: center;
    
                padding: rem(10) rem(15);
                width: 100%;
    
                &:hover {
                    background-color: white;
                    color: #272F38;
                }
                &.active {
                    background-color: white;
                    color: #272F38;
                }
            }
        }
    }
}