@import "../global/index";

.usa-dt-search-bar {
  border: 1px solid $color-gray-lighter;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 40rem;
  margin: 2rem 0;
  .usa-dt-search-bar__input {
      line-height: rem(28);
      padding: rem(2.5) 0;
      @media(min-width: $tablet-screen) {
        flex: 1 1 auto;
        padding: rem(5) rem(10);
      }
      border: 0;
  }
  .usa-dt-search-bar__button {
      right: 0;
      position: absolute;
      @media(min-width: $tablet-screen) {
        flex: 0 0 auto;
        padding: rem(5) rem(10);
      }
      background-color: transparent;
      border: 0;
      border-radius: 0;
      font-weight: $font-normal;
      margin: 0;
      outline: 0;
      text-align: left;
      padding: 0 rem(15);
      color: $color-gray-light;
      font-size: rem(26);
      &:hover {
        background-color: transparent;
        color: $color-gray-light;
      }
      &:disabled {
          color: $color-gray-lighter;
          cursor: not-allowed;
      }
  }
}
