@import "../global/index";

$sticky-header-height: rem(66);
$sticky-header-height-mobile: rem(96);
$z-header: 100;

.usda-section__container,
.usda-page-header {
  margin-top: rem(15);
  margin-bottom: rem(15);
  flex-wrap: wrap;
  &.usda-page-header {
    margin: 0;
    background: $color-base;
    display: flex;
    width: 100%;
  }
  .usda-section-title__container,
  .usda-page-header__container {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    width: 100%;
    &.usda-page-header__container {
      max-width: 160rem;
      margin: auto;
      @include for-desktop-up {
        height: rem(60);
        margin: 0 rem(40);
      }
      @include for-big-desktop-up {
        margin: auto;
      }
    }
    &.usda-page-header--sticky {
        position: fixed;
        top: 0;
        z-index: $z-header;
    }
    @include for-tablet-landscape-up {
      flex-wrap: nowrap;
    }
    .usda-section-title__title-icon {
      margin-left: rem(15);
      align-self: flex-end;
      @include for-phone-only {
        margin-left: rem(5);
        align-self: center;
      }
    }
    .usda-section-title__header,
    .usda-page-header__header {
      display: flex;
      flex-direction: column;
      margin-right: auto;
      align-self: flex-end;
      flex-wrap: wrap;
      &.usda-page-header__header {
        align-self: center;
        padding: rem(10) 0;
        @include for-phone-only {
          padding: rem(10);
        }
      }
      &.usda-section-title__header {
        margin-left: rem(9);
      }
      strong.usda-section-title__overline,
      .usda-page-header__overline {
        font-size: rem(12);
        flex-wrap: wrap;
        font-weight: $font-semibold;
        text-transform: uppercase;
        color: $color-base;
        &.usda-page-header__overline {
          color: #fff;
          font-weight: $font-normal;
        }
      }
      .usda-section-title__title,
      .usda-page-header__title {
        display: flex;
        align-items: flex-end;
        h3, h1 {
          margin: 0;
          font-size: rem(20);
          color: $color-base;
          font-weight: $font-semibold;
          line-height: rem(20);
        }
        &.usda-page-header__title h1 {
          color: #fff;
        }
        .tooltip-wrapper {
          display: block;
          font-size: rem(20);
          align-self: flex-start;
          @include for-phone-only {
            &:not(.has-overline) {
              align-self: center;
            }
          }
          .tooltip__hover-wrapper {
            display: flex;
          }
        }
      }
    }
    .tooltip-wrapper {
      display: none;
      @include for-tablet-portrait-up {
        font-size: rem(20);
        display: block;
        align-self: flex-end;
        @include for-phone-only {
          align-self: center;
        }
        .tooltip__hover-wrapper {
          display: flex;
        }
      }
    }
  
    .usda-section-title__desc {
      display: none;
      @include for-tablet-portrait-up {
        display: block;
        align-self: flex-end;
        font-size: rem(14);
        color: $color-base;
        strong {
          font-weight: $font-semibold;
        }
      }
    }
  
    .usda-section-title__expand-icon {
      color: $color-primary;
      align-self: flex-end;
      font-size: rem(20);
      margin-right: rem(10);
      padding: 0;
      cursor: pointer;
    }
  }

  hr {
    width: 100%;
    height: rem(2);
    background: #494440;
    border: none;
  }
}

@import "./pageToolbar";
