@import "../global/index";

.usda-share-icon {
  margin: 0 0 0 rem(40);
  position: relative;

  &.margin-right {
    margin-right: rem(32);
  }

  &.no-margin-left {
    margin-left: 0;
  }

  &.disabled {
    .usa-dt-picker__dropdown-container {
      button {
        cursor: default;
      }
    }
    .usa-dt-picker__dropdown-container,
    span {
      opacity: 0.5;
    }
  }

  @media(max-width: $medium-screen) {
    margin-right: rem(10);
    span {
      display: none;
    }
  }

  .usa-dt-picker {
    margin: 0;
    z-index: 30;

    .usa-dt-picker__dropdown-container {
      .usa-dt-picker__button {
        color: $gray-cool-10;

        svg {
          width: rem(24);
          height: rem(24);

          &:hover {
            color: $gray-cool-5;
          }

          &:active {
            color: $gray-cool-1;
          }
        }
      }

      .usa-dt-picker__list {
        width: rem(148);
        overflow: hidden;

        .usa-dt-picker__list-item {
          border-top: none;
          margin-bottom: rem(2);
        }

        .usa-dt-picker__list-item:focus {
          border-top: unset;
        }

        svg {
          color: $gray-cool-60;
          width: rem(16);
          height: rem(16);
          margin-top: rem(4);
        }

        span {
          color: $gray-cool-60;
          font-weight: $font-semibold;
          font-size: rem(16);
          line-height: rem(24);
          margin-left: rem(16);
        }

        .usa-dt-picker__item {
          padding-left: rem(16);
          padding-right: unset;
          padding-top: rem(8);
          padding-bottom: rem(8);
          width: 100%;
          display: flex;
          left: 0;

          &:hover {
            background-color: $gray-cool-3;
          }
        }
      }
    }
  }
}

.copy-confirmation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  height: rem(39);
  width: rem(140);
  background: $color-gray-lightest;
  border: rem(1) solid $color-gray-lightest;
  border-radius: rem(3);
  color: $color-gray;
  margin-right: rem(15);
  top: rem(36);
  right: rem(-7);
  font-size: rem(16);
  z-index: 31;

  svg {
    margin: 0 rem(10);
    color: $green-cool-50;
  }
}
