@import "../global/index";

.usda-share-icon {
  margin: 0 rem(40) 0 rem(32);
  position: relative;

  &.disabled {
    .usa-dt-picker__dropdown-container {
      button {
        cursor: default;
      }
    }
    .usa-dt-picker__dropdown-container,
    span {
      opacity: 0.5;
    }
  }

  .usa-dt-picker {
    margin-bottom: 2px;
    z-index: 30;
    .usa-dt-picker__dropdown-container {
      z-index: 30;
      &:hover{
        color: $gray-cool-5;
        }
      &:active {
        color: $gray-cool-1;
      }
      .usa-dt-picker__button {
        color: $gray-cool-10;


        svg {
          width: rem(24);
          height: rem(24);

        &:hover {
          color: $gray-cool-5;

        }

        &:active {
          color: $gray-cool-1;

        }
        }
      }

      .usa-dt-picker__list {
        width: rem(140);
        z-index: 1;
        overflow: hidden;

        .usa-dt-picker__item {
          padding-right: rem(10);
        }

        span {
          margin-left: rem(10);
          color: $gray-cool-10;
        }
        
        .usa-dt-picker__list-item {
          .share-dropdown__twiter-logo {
            width: rem(14);
            height: rem(14);
          }
        }
      }
    }
  }
}

.copy-confirmation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  height: rem(39);
  width: rem(140);
  background: $color-gray-lightest;
  border: rem(1) solid $color-gray-lightest;
  border-radius: rem(3);
  color: $color-gray;
  margin-right: rem(15);
  top: rem(36);
  right: rem(-7);
  font-size: rem(16);

  svg {
    margin: 0 rem(10);
    color: $green-cool-50;
  }
}
