@import "../global/index";

.tooltip-wrapper {
    div:first-of-type {
        height: 100%;
        width: 100%;
        display: flex;
    }
    .tooltip__hover-wrapper {
        .tooltip__icon {
            color: $color-gray-border;
            margin: 0 $global-pad-mrg / 2;
            &:hover {
                color: $color-gray;
            }
        }
    }
    .tooltip-spacer {
        display: none;
        @include for-tablet-landscape-up {
            display: block;
            position: absolute;
            z-index: 9;
        }
    }
    .tooltip {
        .tooltip__interior {
            position: relative;
            @import "../shared/arrow";
            $color-tooltip-border: $color-gray-light;
            .tooltip-pointer {
                // override the coloring
                &:after {
                    background: $color-gray-lightest;
                }
                z-index: 2;
                top: rem(15);
            }
        }
    }

    .tooltip__content {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
        box-shadow: $box-shadow;
        background-color: $color-white;
        border: solid rem(1) $color-gray-light;
        .tooltip__message {
            width: 100%;
            font-size: $small-font-size;
            div:first-of-type {
                flex-direction: column;
            }
            .tooltip__title {
                font-size: $small-font-size;
                background-color: $color-gray-lightest;
                padding: rem(10) rem(15);
                font-weight: $font-bold;
                z-index: 10;
                margin-top: 0;
                text-align: center;
            }
            .tooltip__text {
                padding: 0 rem(15);
                font-weight: $font-normal;
                text-align: center;
                display: flex;
                flex-direction: column;
                ul {
                    margin: 0;
                    padding-left: 0;
                    list-style-type: none;
                }
            }
            .tooltip__list {
                padding: 0 rem(15);
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                list-style-type: none;
                li {
                    text-align: center;
                    list-style: none;
                    padding-bottom: rem(10);
                    &:last-of-type {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}