tr.usda-table__row {
    vertical-align: baseline;
}
th.table-header {
    background-color: $gray-cool-3;
    border: rem(1) solid $gray-cool-10;
    padding: 0;
    &.nested-header {
        .table-header__content {
            padding: 0;
            flex-wrap: wrap;
        }
        .table-header__label {
            text-indent: rem(10);
            text-align: left;
        }
    }
    .table-header__content {
        display: flex;
        flex-wrap: wrap;
        padding: rem(15);
        text-align: left;
        .table-header__label {
            flex: (0 0 auto);
            font-size: rem(14);
            font-weight: $font-semibold;
            line-height: rem(18);
            width: auto;
            display: flex;
            position: relative;
            max-width: 100%;
            align-items: flex-start;
        }
        &.table-header__content_right {
            justify-content: flex-end;
            text-align: right;
        }
        .table-header__sort {
            margin-left: rem(8);
            display: flex;
            flex-direction: column;
            justify-content: center;
            button.table-header__icon {
                @include button-unstyled;
                color: $color-gray-light;
                display: block;
                height: rem(9);
                &:focus {
                    outline: none;
                }
                svg {
                    vertical-align: 0;
                    margin-top: rem(-9);
                    pointer-events: none;
                    width: rem(13);
                    color: $color-gray-lighter;
                }
                &.table-header__icon_active svg {
                    color: $color-gold;
                }
            }
        }
    }
    &.table-header_body-header {
        background-color: transparent;
        border: 0;
    }
}

.stickyColumn:first-of-type {
    position: sticky;
    left: 0;
    z-index: 1;
    border-right: solid 1px $gray-cool-10;
}
