// Responsive Stacked Table Variation
table.usa-dt-table__stacked {
  max-width: 100%;

  @media all and (max-width: ($tablet-screen - 1)){
    display: block;
    width: 100%;

    [class*="usda-table__cell"] {
      box-sizing: border-box;
    }

    thead.usda-table__head {
      display: none;
    }

    tbody.usda-table__body {
      display: inline-table;
      width: 100%;

      tr.usda-table__row {
        display: block;
        width: 100%;


        @media (max-width: $tablet-screen - 1) {
          font-weight: $font-semibold;

          .usda-table__cell-heading {
            color: $gray-60;
          }

          td:first-of-type {
            background-color: $blue-warm-70v;
            font-size: rem(18);
            margin-bottom: rem(12);

            .usda-table__cell-heading {
              color: $gray-10;
            }

            a {
              color: $gray-2 !important;
              text-decoration: underline;
            }
          }
        }

        td.usda-table__cell {
          // keep display block (vs. flex) for accessibility
          display: block;
          width: 100%;
          padding: 0 rem(16) rem(12);
          line-height: 1.5;
          word-break: break-all;
          text-align: left;

          @media (max-width: $tablet-screen - 1) {
            padding: 0 rem(12) rem(16);;
          }

          .usda-table__cell-heading-container {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            .usda-table__cell-heading {
              font-weight: $font-semibold;

              @media (max-width: $tablet-screen - 1) {
                font-weight: normal;
                font-size: rem(12);
              }
            }

            .usda-table__cell-message {
              font-size: $small-font-size;
              font-weight: $font-semibold;
              line-height: 1.5;
              color: $blue-50;

              svg {
                font-size: $small-font-size;
                padding-top: rem(2);
                color: $blue-50;
              }
            }
          }

          &:first-child {
            border-top: solid rem(4) $color-gray-lighter;
            padding-top: rem(12);
          }
        }

        &.usda-table__row_expandable {

          td.usda-table__cell_name {
            padding-left: rem(32);
          }

          td.usda-table__cell {
            padding-left: rem(32);

            .usda-table__expandable-cell-content {
              align-items: center;
              position: relative;
            }

            .usda-table__expand-button {
              padding: 0;
              margin: 0;
              width: rem(32);
              height: rem(24);
              text-align: center;
              position: absolute;
              top: rem(-2);
              left: rem(-32);
              font-size: rem(14);
              z-index: 1;
            }
          }
        }

        &.usda-table__row_is-expanded {

          td.usda-table__cell {
            position: relative;
          }

          td.usda-table__cell:first-child:after {
            height: calc(100% - #{rem(56)});
            top: auto;
            bottom: 0;
          }
          td.usda-table__cell:after {
            content: '';
            border-left: solid rem(1) $color-gray-light;
            position: absolute;
            top: 0;
            left: rem(16);
            height: 100%;
          }
        }
      }

      tr.usda-table__child-row {
        display: block;
        width: 100%;

        &.usda-table__child-row_divider {
          // TODO: Cross-check this
          display: none;
        }

        td.usda-table__cell {
          // keep display block (vs. flex) for accessibility
          display: block;
          width: 100%;
          padding: 0 rem(16) rem(12);
          line-height: 1.5;
          word-break: break-all;
          text-align: left;

          &:before {
            content: attr(data-label) ' ';
            font-weight: $font-semibold;
            display: block;
            width: 100%;
            text-align: left;
            word-break: break-all;
          }

          &.usda-table__cell_child {
            padding: 0 rem(16) rem(12);
            padding-left: rem(48);
            position: relative;

            &:after {
              content: '';
              border-left: solid rem(1) $color-gray-light;
              position: absolute;
              top: 0;
              left: rem(16);
              height: 100%;
            }

            .usda-table__child-cell-content {
              padding: 0;
            }

            &:first-of-type {
              padding-left: rem(48);

              .usda-table__child-cell-content {
                padding: 0;
                border-width: 0;
              }
            }
          }
        }

        &.usda-table__child-row_last {

          td.usda-table__cell {

            &.usda-table__cell_child {

              &:first-of-type {
                padding-bottom: rem(12);

                .usda-table__child-cell-content {
                  padding-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

.usa-dt-table__stacked-picker {
  width: 100%;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: rem(16) 0 rem(8);

  @media all and (min-width: $tablet-screen){
    display: none;
  }

  label {
    font-size: $base-font-size;
    line-height: 1.5;
  }

  .usa-dt-picker .usa-dt-picker__dropdown-container {

    .usa-dt-picker__button {
      padding: rem(4) rem(8);
      margin: 0;
      display: flex;
      align-items: center;

      .usa-dt-picker__button-text {
        font-size: $base-font-size;
        margin-right: rem(8);
        line-height: 1.5;
        font-weight: $font-normal;
      }

      .usa-dt-picker__button-icon {
        flex: 0 0 auto;

        svg {
          width: rem(12);
          height: rem(12);
          color: $color-link;
        }
      }
    }

    .usa-dt-picker__list {
      min-width: rem(200);
    }

    .usa-dt-picker__list .usa-dt-picker__item {
      font-size: $small-font-size;
    }
  }
}
