@import "../../global/index";

table.usda-table {
    border-spacing: 0;
    border-collapse: collapse;
    font-family: $font-sans;
    color: $color-gray;
    overflow-x: scroll;


    thead.usda-table__head {
        @import './tableHeader';
    }

    tbody.usda-table__body {
        font-size: rem(14);
        border-bottom: solid rem(1) $gray-cool-10;

        td.usda-table__cell {
            border-left: solid rem(1) $gray-cool-10;
            border-right: solid rem(1) $gray-cool-10;
            border-bottom: 0;
            border-top: 0;
            text-align: left;
            vertical-align: baseline;

            &.usda-table__cell_right {
                text-align: right;
            }
        }

        td.usda-table__cell.stickyColumn {
            position: sticky;
            left: 0;
            z-index: 30;
            border-right: solid 1px $gray-cool-10;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
        }

        tr.usda-table__row {
            td.usda-table__cell {
                padding: rem(15);
            }

            td.usda-table__cell.stickyColumn {
                background-color: $color-white;
            }

            &.usda-table__row_odd {
                td.usda-table__cell {
                    background-color: $color-gray-lightest;
                }
            }

            &.usda-table__row_expandable {
                button.usda-table__expand-button {
                    @include button-unstyled;
                    color: $color-primary;
                    margin-right: rem(8);
                }

                td.usda-table__cell {
                    padding-right: rem(35);

                    .usda-table__expandable-cell-content {
                        display: flex;
                        align-items: flex-start;
                    }
                }

                td.usda-table__cell_name {
                    // add extra padding when no arrow is present because there are no children
                    padding-left: rem(30);
                }
            }

            .table-header_body-header {
                // First column headers
                padding: rem(15);
            }
        }

        .usda-table__message-cell {
            border: solid rem(1) $gray-cool-10;
        }

        tr.usda-table__child-row {
            background-color: $color-white;

            &.usda-table__row_odd {
                td.usda-table__cell {
                    background-color: $color-gray-lightest;
                }
            }

            &.usda-table__child-row_divider {
                font-weight: $font-semibold;
            }

            td.usda-table__cell {
                &.usda-table__cell_child {
                    padding: 0;

                    .usda-table__child-cell-content {
                        padding: rem(10) rem(15);
                        margin-right: rem(20);
                    }

                    &:first-of-type {
                        // add extra padding to the first cell of every child row
                        padding-left: rem(20);

                        .usda-table__child-cell-content {
                            padding-left: rem(30);
                            border-left: solid rem(1) $gray-cool-10;
                        }
                    }
                }
            }

            &.usda-table__child-row_last {
                // on the last row's first cell, add space below the line
                td.usda-table__cell {
                    &.usda-table__cell_child {
                        &:first-of-type {
                            padding-bottom: rem(5);

                            .usda-table__child-cell-content {
                                padding-bottom: rem(5);
                            }
                        }
                    }
                }
            }
        }
    }

    &.search-results {
        // this is needed to make the right border and the box shadow appear on the sticky column
        border-collapse: separate;

        thead.usda-table__head {
            th.table-header {
                border-top: 0;
                border-left: 0;
                border-bottom: solid rem(1) $gray-cool-10;
                &:last-of-type {
                    border-right: 0;
                }
            }
        }

        tbody.usda-table__body {
            border-bottom: 0;
            .usda-table__row {
                &:hover {
                    background-color: $gray-cool-2;
                }

                td.usda-table__cell {
                    padding: rem(8) rem(16);
                    border-top: 0;
                    border-left: 0;
                    border-bottom: solid rem(1) $gray-cool-10;
                    &:last-of-type {
                        border-right: 0;
                    }

                }

                // if the td contains an a tag, we want the entire cell to be clickable
                // so we move the padding into the a tag
                td.usda-table__cell:has(a) {
                    padding: 0;

                    a {
                        padding: rem(8) rem(16);
                        display: block;
                        // 84% based on 200px header width minus 32px padding inside a tag
                        width: 84%;
                        height: 100%;
                    }
                }

                &.usda-table__row_odd {
                    td.usda-table__cell {
                        background-color: unset;

                        &.stickyColumn {
                            background-color: $color-white;
                        }
                    }
                }
            }
        }
    }
}

@import './tableStacked';
