@import "../../global/index";

table.usda-table {
    border-spacing: 0;
    border-collapse: collapse;
    font-family: $font-sans;
    thead.usda-table__head {
        @import './tableHeader';
        border-bottom: solid rem(1) $color-gray-light;
    }
    tbody.usda-table__body {
        font-size: rem(18);
        tr.usda-table__row {
            &.usda-table__row_odd{
                td.usda-table__cell {
                    background-color: $color-gray-lightest;
                }
            }
            &.usda-table__row_expandable {
                button.usda-table__expand-button {
                    @include button-unstyled;
                    color: $color-primary;
                    margin-right: rem(8);
                    font-size: rem(10);
                }
                td.usda-table__cell {
                    &:first-of-type {
                        display: flex;
                        p {
                            display: flex;
                            margin: 0;
                        }
                    }
                }
                td.usda-table__cell_name {
                    // add extra padding when no arrow is present because there are no children
                    padding-left: rem(30);
                }
            }
        }
        td.usda-table__cell {
            border: 0;
            padding: rem(15);
            text-align: left;
            &.usda-table__cell_right {
                text-align: right;
            }
        }
        tr.usda-table__child-row {
            background-color: $color-white;
            &.usda-table__child-row_divider {
                font-weight: $font-semibold;
            }
            td.usda-table__cell {
                &.usda-table__cell_child {
                    padding: 0;
                    font-size: rem(16);
                    .usda-table__child-cell-content {
                        padding: rem(10) rem(15);
                    }
                    &:first-of-type {
                        // add extra padding to the first cell of every child row
                        padding-left: rem(20);
                        .usda-table__child-cell-content {
                            padding-left: rem(30);
                            border-left: solid 3px $color-gray-light;
                        }
                    }
                    &.usda-table__cell_right {
                        text-align: right;
                    }
                }
            }
            &.usda-table__row_odd {
                td.usda-table__cell {
                    background-color: $color-gray-lightest;
                }
            }
            &.usda-table__child-row_last {
                // add space below the border on the last row's first cell
                td.usda-table__cell {
                    &.usda-table__cell_child {
                        &:first-of-type {
                            padding-bottom: rem(5);
                            .usda-table__child-cell-content {
                                padding-bottom: rem(5);
                            }
                        }
                    }
                }
            }
        }
    }
    &.agency-reporting {
        border-bottom: rem(1) solid #D6D7D9;
        thead.usda-table__head {
            .table-header {
                background-color: #F2F2F2;
                border: rem(1) solid #D6D7D9;
                padding: 0;
                &.nested-header {
                    .table-header__content {
                        padding: rem(0);
                        flex-wrap: wrap;
                    }
                    .table-header__label {
                        border-bottom: rem(1) solid #D6D7D9;
                        width: 100%;
                        text-indent: 1rem;
                        text-align: left;
                    }
                }
                .table-header__content {
                    display: flex;
                    padding: rem(15);
                    .table-header__label {
                        font-size: rem(16);
                    }
                    .table-header__sublabel {

                    }
                    .table-header__sort {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        button.table-header__icon {
                            height: rem(9);
                            padding-right: rem(20);
                            &:focus {
                                outline: none;
                            }
                            svg {
                                width: rem(13);
                                color: #D6D7D9;
                            }
                            &.table-header__icon_active {
                                color: $color-gold;
                            }
                        }
                    }
                    ul {
                        display: flex;
                        width: 100%;
                        padding: 0;
                        justify-content: flex-start;
                        list-style: none;
                        margin: 0;
                        li {
                            display: flex;
                            align-items: center;
                            text-indent: rem(10);
                            min-height: rem(30);
                            width: 50%;
                            &:not(:last-of-type) {
                                border-right: rem(1) solid #D6D7D9;
                            }
                        }
                    }
                }
            }
        }
        tbody.usda-table__body {
            tr.usda-table__row {
                border-right: rem(1) solid #D6D7D9;
                border-left: rem(1) solid #D6D7D9;
                .usda-table__cell {
                    border-right: rem(1) solid #D6D7D9;
                }

                .usda-table__cell_right {
                    border-right: none;
                }
            }
        }
    }
}
