th.table-header {
    border: 0;
    background-color: $color-white;
    padding: rem(15);
    &.nested-header {
        .table-header__content {
            padding: rem(0);
            flex-wrap: wrap;
        }
        .table-header__label {
            text-indent: 1rem;
            text-align: left;
        }
    }
    .table-header__content {
        display: flex;
        flex-wrap: wrap;
        .table-header__label {
            flex: (0 0 auto);
            font-size: rem(20);
            font-weight: $font-semibold;
            line-height: rem(25);
            width: auto;
            display: flex;
            position: relative;
            max-width: 100%;
            align-items: center;
        }
        &.table-header__content_right {
            justify-content: flex-end;
            text-align: right;
        }
        .table-header__sort {
            display: block;
            margin-left: rem(8);
            button.table-header__icon {
                @include button-unstyled;
                color: $color-gray-light;
                display: block;
                height: rem(13);
                svg {
                    vertical-align: 0;
                    margin-top: -9px;
                    pointer-events: none;
                }
                &.table-header__icon_active svg {
                    color: $color-gold;
                }
            }
        }
    }
}
