@import "../../global/index";

.tooltip-wrapper {
    .tooltip__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        box-shadow: $box-shadow;
        background-color: $color-white;
        border: solid rem(1) $color-gray-light;
        .tooltip__message {
            width: 100%;
            font-size: $small-font-size;
            text-align: left;
            .tooltip__title {
                font-size: $small-font-size;
                background-color: $color-gray-lightest;
                padding: rem(10) rem(20);
                font-weight: $font-bold;
                z-index: 10;
                margin: 0;
                &.center {
                    text-align: center;
                }
                &.left {
                    text-align: left;
                }
            }
            .tooltip__amount {
                margin: 0;
                text-align: center;
                font-size: $small-font-size;
                font-weight: $font-normal; 
                span:first-of-type {
                    font-size: $base-font-size * 1.25;
                    font-weight: $font-bold;
                }
                span:last-of-type {
                    font-size: $base-font-size;
                    font-weight: $font-normal * 1.25;
                }
            }
            .tooltip__text {
                padding: rem(20);
                font-weight: $font-normal;
                display: flex;
                flex-direction: column;
                &.center {
                    text-align: center;
                }
                &.left {
                    text-align: left;
                }
                ul {
                    padding-left: 0;
                    list-style-type: none;
                }
                p,
                strong {
                    margin: rem(7) 0;
                }
                > *:first-child,
                > *:last-child {
                    margin: 0;
                }
                ul {
                    margin: rem(10) 0;
                }
            }
            .tooltip__list {
                // award amounts lists
                padding: 0 rem(15);
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                list-style-type: none;
                li {
                    text-align: center;
                    list-style: none;
                    padding-bottom: rem(10);
                    &:last-of-type {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}
