@import "../../global/index";

.tooltip-wrapper {
    font-size: $base-font-size;
    .tooltip-spacer {
        display: none;
        @include for-tablet-landscape-up {
            display: block;
            position: absolute;
            z-index: 9;
        }
    }
    .tooltip__hover-wrapper {
        .tooltip__icon {
            color: $color-gray-lighter;
            margin: 0 $global-pad-mrg / 2;
            &:hover {
                color: $color-gray;
            }
        }
    }
    .tooltip {
        .tooltip__interior {
            position: relative;
            @import "../../shared/arrow";
            $color-tooltip-border: $color-gray-light;
            .tooltip-pointer {
                // override the coloring
                &:after {
                    background: $color-gray-lightest;
                }
                z-index: 2;
                top: rem(15);
            }
        }
    }
}
